.header {
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  margin: 28px auto 56px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - (96px - (1024px - 100%) * 0.18));
    margin-bottom: 48px;
  }

  /* 1024 - 768 = 256.  на 48 / 256 =0,18 = переход на 24px отступ по бокам */
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - (48px - (768px - 100%) * 0.03));
    margin-top: calc(16px + (28 - 16) * ((100vw - 320px) / (768 - 320)));
  }

  /* 16 отступ на 320px + (28 изначальный отступ, от него минус 16) * (100vw - 320) 320 это где должен быть отступ 16px) / (768 - 320) = (448 / 28 = 16)  */
}
