.footer__link{
font-size: 16px;
line-height: 112%;
font-weight: 400;
text-decoration: none;
font-family: 'Inter', Arial, sans-serif;
color: #fff;
transition: opacity .3s linear;
	}
.footer__link:hover{
opacity: .4;
	}




