.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  padding: 0;
  margin: 0 0 64px;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: calc(40px + (56 - 40) * ((100vw - 320px) / (1024 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (1024 - 320)));
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (1024 - 320)));
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
  }

}
