.cover__title{
	max-width: 560px;
	font-size: 72px;
	line-height: 106%;
	font-weight: 900;
	text-align: center;
	font-family: 'Inter',  Arial, sans-serif;
	color: #fff;
	margin: 0 0 32px;
	z-index: 1;
	}
	@media screen and (max-width: 767px) {
		.cover__title{
		font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
		margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
		width: calc(288px + (560 - 288) * ((100vw - 320px) / (768 - 320)));
	
		}
	}
	