.place__url-heading{
	font-size: 12px;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: 0.2em;
	font-family: 'Inter',  Arial, sans-serif;
  text-transform: uppercase;
	color: #aaa;
	margin: 0 0 12px 0;
	}
