.intro__title{
	max-width: 690px;
font-weight: 900;
font-size: 54px;
line-height: 107%;
margin-bottom: 40px;
margin-top: 0;
font-family: 'Inter',  Arial, sans-serif;
color: #fff;
}
@media screen and (max-width: 768px) {
	.intro__title{
		font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320 )));
	}
}